* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    text-decoration: none;
}
h1, h2 {
    font-family: idroid;
}

p   {
    line-height: 28px;
    text-indent: 25px;
  }

@font-face {
    font-family: 'idroid', sans-serif;
    src: url(assets/fontes/idroid.otf);
}

body {
    background-color: rgb(226, 212, 180);

}
header {
    background: rgb(2,74,9);
background: linear-gradient(0deg, rgba(2,74,9,1) 32%, rgba(17,119,18,1) 73%, rgba(89,128,88,1) 97%);
    width: 100%;

}

#logo {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;

}

#logo h1 {
    padding-top: 2rem;
    font-family: 'Oswald', sans-serif;
}

#logo p {
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
}

#links {
    margin-top: 1.2em;
    padding-bottom: 5px;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#links ul {
    display: flex;
    margin-left: 15px;
    gap: 10px;
    margin-bottom: 5px;
}

#links ul li {
    list-style-type: none;
}

#links ul li a {
    color: rgb(167, 206, 173);
    padding: 6px 6px 10px 6px;
    transition:background 0.2s;
    border-radius: 5px;
}

#links ul li a:hover {
    color: rgba(255, 255, 255, 0.831);
    background: rgba(61, 187, 61, 0.522);
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
}

#conteiner {
    padding: 24px;
    width: 55%;
    background: white;
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.42);
}  
    
#topo h1 {
    color: rgb(27, 73, 27);
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 25px;
}

#topo span {
    color: rgb(36, 90, 36);
    font-weight: bold;
}

#topo h2 {
    background: rgb(255,255,255);
background: linear-gradient(280deg, rgba(255,255,255,1) 30%, rgba(206,244,212,1) 63%, rgba(150, 228, 168, 0.957) 96%);
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 20px;
    color: rgb(35, 86, 45);
}

#topo p a {
    color: green;
    font-weight: bold;
}

#topo p a:hover {
    padding: 0px 0px;
    background-color:rgba(150, 228, 168, 0.957);
    font-weight: 600;
    color: rgba(23, 66, 33, 0.957);
}

#topo img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#meio h2 {
    background: rgb(255,255,255);
background: linear-gradient(280deg, rgba(255,255,255,1) 30%, rgba(206,244,212,1) 63%, rgba(150, 228, 168, 0.957) 96%);
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 20px;
    color: rgb(35, 86, 45);
}

#meio p {
    margin-bottom: 15px;
}

#irina {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 15px;
}

#meio a {
    color: green;
    font-weight: bold;
}

#meio a:hover {
    padding: 0px 0px;
    background-color:rgba(150, 228, 168, 0.957);
    font-weight: 600;
    color: rgba(23, 66, 33, 0.957);
}

#bugdroid {
    display: flex;
    width: 50%;
    margin: 15px auto;
}

div.video {
    background-color: #063d1e;
    margin: 0px -24px 30px -24px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article {
    background-color: #83e1ad;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.216);
}

article p {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
}

article > aside {
    background-color: #1a5c37;
    padding: 6px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

abbr {
    text-decoration: underline dotted;
}

#lista {
    list-style-position: inside;
    columns: 2;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    list-style-type: none;
}

#infelizmente {
    padding-top: 28px;
}

article > p > span {
    color: rgb(36, 101, 36);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.161);
}

article > p > a {
    color: rgb(36, 101, 36);
    font-weight: bold;
}

article > p > a:hover {
    background-color: #195533;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#listafinal {
    padding-bottom: 30px;
}

#pfinal {
    padding-top: 25px;

}

p > span {
    color: rgb(36, 101, 36);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.161);
}

footer > p {
    color: white;
    background-color: #063d1e;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

footer > p > a {
        color: white;
}

footer > p > a:hover {
        color: white;
        text-decoration: underline;
}

@media  (min-width: 320px) and (max-width:550px){

    #bugdroid {
        width:10rem;
    }
    #conteiner {
        width: 80%;
    }
}